/*need to style the nav bar an div elements*/

body {
	background-color: 0;
	font-family: sans-serif, serif;
}

.navbar {
	background-color: #ffffff;
  height: 80px; /*remove later???*/
	width: 100%; /*nav bar should go across the entire page */
  margin-top: 0px;
  margin-bottom: 20px;
	border-bottom: 3px solid #dddddd;
	font-family: georgia, times, serif;
}
/*this is a container inside the navbar so i can center content*/
.container {
	background-color: white;
	width: 960px;
	height: 80px;
	margin: auto;
}
/*this is where my logo/name is*/
.namebox {
		overflow: auto;
		height: 80px;
    width: 180px;
		padding: 10px;
    background-color: #4aaaa5; /*teal*/
		text-align: center;
		font-size: 25px;
		font-weight: 700;
		color: #fff;
}
/*these are the links at the end of the navbar*/
li {
	display: block;
}

li a {
    display: block; /*the whole area clicable*/
    padding: 30px;
    color: gray;
    text-align: center;
		font-size: 17px;
    background-color: white;
		float: right;
} /*A background color is added to the links to show the link area. The whole link area is clickable, not just the text.*/

a:hover {
    background-color: #4aaaa5; /*teal*/
		margin: auto;
}
.active {
    background-color: white;
}

.wrapper {
 background-color: #ffffff;
 width: 960px;
 height: 600px; /*remove later???*/
 margin: auto; /*because I want it centered*/
 color: #777777;
 font-family: arial, helvetica, sans-serif;
 font-size: 18px;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.about-me {
	display: block;
	float: left;
	width: 70%;
  padding: 15px;
  border: 1px solid lightgray;
}
#me {
	border-bottom: 3px solid #dddddd;
}
/*begiging of the sidebar*/

.sidebar {
		display: inline-block;
    margin: auto;
    float: right;
    width: 25%;
    border: 1px solid lightgray;
}
/*.sidebar {
	margin: auto;
	display: inline;
	float: right;
	width: 25%;
  padding: 20px;
  border: 1px solid lightgray;
	text-align: center;
}*/

#connect {
	display: inline-block;
	width: 99%;
}

h3 {
	text-align: center;
}
.social {
	display: inline-block;
	width: 99%;
	height: 60px;
	margin:auto;
}
footer {
	background-color: #666666;
	width:	100%;
	height: 50px; /*remove later???*/
	border-top: 15px solid #4aaaa5;
	text-align: center;
	color: #cccccc;
	padding: 10px;
	clear: both;
}
/*--------begin portfolio page---------*/
/*the wrapper is the same from the index page*/
/*this is the conatiner with the portfolio header & all its projects*/
.portfolio-box {
	display: block;
	float: left;
	width: 70%;
  padding: 15px;
  border: 1px solid lightgray;
}
/*this is the container/hearder where the word 'portfolio' is*/
#portfolio {
	border-bottom: 3px solid #dddddd;
  font-family: arial, helvetica, sans-serif;
  font-size: 18px;
	color: #4aaaa5;
}
.project1 {
	position: relative;
	float: left;
	width: 30%x;
	margin: 10px 0 10px;
	border: 1px solid lightgray;
	overflow: auto;
}

.project2 {
	position: relative;
	float: right;
	width: 30%x;
	margin: 10px 0 10px;
	border: 1px solid lightgray;
	overflow: auto;
}
.project3 {
	position: relative;
	float: left;
	width: 30%x;
	margin: 10px 0 10px;
	border: 1px solid lightgray;
	overflow: auto;
}
.project4 {
	position: relative;
	float: right;
	width: 30%x;
	margin: 10px 0 10px;
	border: 1px solid lightgray;
	overflow: auto;
}
h4 {
position: absolute;
width: 100%;
height: 20%;
bottom: 0px;
font-family: georgia, times, serif;
font-weight: 200;
text-align: center;
background: #4aaaa5;
color: white;
}

/*--------begin contact page---------*/
/*the wrapper is the same from the index page*/
/*this is the conatiner with the contact header & contact form*/

.contact-box {
	display: block;
	float: left;
	width: 70%;
  padding: 15px;
  border: 1px solid lightgray;
}
/*this is the container/hearder where the word 'contact' is*/
#contact {
	border-bottom: 3px solid #dddddd;
  font-family: arial, helvetica, sans-serif;
  font-size: 18px;
	color: #4aaaa5;
}



/* Styling contact form elements and textareas */
input[type=text], select, textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc; /* Gray border */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px;
    margin-bottom: 16px;
  	resize: vertical;
}

/* Styling the submit button */
input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

/* color change when moving the mouse over the submit*/
input[type=submit]:hover {
    background-color: #45a049;
}
